@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

body {
    background: url(./img/sylveon-cherry-blossom-pokemon-thumb.jpg);
    background-size: cover;

}

.main {
    background-image: url(./img/niK0rf7mdfgTLI4KDsZ6BT2MT9F4srP7qHsZpTtyHUk.webp);
    background-size: contain;
    border: 5px solid #c7a008;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
}


section {
    color: #2a75bb;
    text-shadow: -0 -0 5px #ffcb05;
    font-size: larger;
}


h2 {
    font-family: "Pokemon Solid", sans-serif;
}