.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sprite {
  width: 100px;
  height: 100px;
}
